@import "reset";
@import "vertigo";
@import "nav";
@import "slider";
@import "resume";
@import "contact";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.fa {
  font-size: 40px;

}
