<nav id="nav">
  <div class="nav-menu" id="nav-menu">
    <h1 id="vinh">VINH NGUYEN</h1>
    <a href="#"><h2 id="menu">Menu</h2></a>
    <a href="#"><h2 id="hide">Hide</h2></a>
  </div>
  <div id="nav-list">
    <a target="_blank" id="blog" href="https://medium.com/@VinhNguyen">Blog</a>
    <a id="projects" href="#">Projects</a>
    <a id="resume" href="#">Resume</a>
    <a id="contact" href="#">Contact</a>
  </div>
  <div id="slides">
    <div class="project-slides">
      <a href="#"><h2 class="next">Next</h2></a>
      <a href="#"><h2 class="prev">Previous</h2></a>
      <div class="project-container">
        <div>
          <img src="http://placeimg.com/400/200/people"/>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="back" href="#">Menu</a>
        </div>
      </div>
    </div>
    <div class="project-slides">
      <a href="#"><h2 class="next">Next</h2></a>
      <a href="#"><h2 class="prev">Previous</h2></a>
      <div class="project-container">
        <div>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="back" href="#">Menu</a>
        </div>
      </div>
    </div>
  </div>
  <div id="resume-container">
    <div class="resume-display">
      <img src="/images/resume.jpg" alt="" />
    </div>
    <a class="back" href="#">Menu</a>
  </div>
  <div id="contact-container">
    <div class="contact-display">
      <div class="spacer">
      </div>
      <a target="_blank" href="https://twitter.com/Vinh3928">Twitter</a>
      <a target="_blank" href="https://www.linkedin.com/profile/view?id=161733738">Linkedin</a>
      <h3>Vnguyen.cheme@gmail.com</h3>
    </div>
    <a class="back" href="#">Menu</a>
  </div>
</nav>
<div id="container">
  <div id="contaianer">
      <section id="wrapper">
        <div class="p1" data-speed="0.01" data-revert="true"></div>
        <div class="p2" data-speed="0.02"></div>
        <div class="p3" data-speed="0.00"></div>
      </section>
  </div>
</div>


<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/color.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/vertigo.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/navbar.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/slider.js"></script>
