/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#container {
  width: 100%;
  height: 100%; }

#contaianer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 50% 50%, 0, 80% 40%, 100, from(yellow), to(#fff));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(50% 50%, closest-corner, yellow, #fff);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(50% 50%, closest-corner, yellow, #fff);
  /* IE 10 */
  background: -ms-radial-gradient(50% 50%, closest-corner, yellow, #fff);
  overflow: hidden;
  font-family: 'Lato', sans-serif; }

#wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#wrapper div {
  position: absolute;
  background-position: center center;
  background-size: cover; }

.p1 {
  width: 110%;
  height: 800px;
  z-index: 6;
  background-image: url("../images/lake.png");
  left: -5%;
  top: 0; }

.p2 {
  width: 110%;
  height: 800px;
  z-index: 10;
  background-image: url("../images/vinh2.png");
  left: 0%;
  top: 20%; }

.p3 {
  width: 100%;
  height: 800px;
  z-index: 8;
  background-image: url("../images/dock2.png");
  left: 0px;
  top: 136px; }

.letra {
  font-weight: 900;
  color: white;
  font-size: 2em;
  top: 50%;
  left: 40%;
  margin-top: -115px;
  width: 100%;
  text-align: center;
  z-index: 7;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

nav {
  z-index: 100;
  position: absolute;
  background: rgba(48, 49, 52, 0.9);
  width: 100%;
  height: 50px;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s; }

nav h1 {
  display: inline-block;
  color: #d8e4eb;
  float: left;
  font-size: 40px;
  margin-left: 64px; }

nav a {
  font-size: 40px;
  text-decoration: none; }

nav #nav-list a:hover {
  background-color: white; }

nav #nav-list a:not(:last-child) {
  border-bottom: 2px solid white; }

nav div {
  text-align: center; }

nav h2 {
  color: #d8e4eb;
  font-size: 40px;
  float: right; }

#hide {
  display: none;
  margin-bottom: 100px; }

#blog {
  display: none;
  width: 300px; }

#projects {
  display: none;
  width: 300px; }

#resume {
  display: none;
  width: 300px; }

#contact {
  display: none;
  width: 300px; }

#nav-list {
  display: block;
  width: 300px;
  margin: 0 auto; }

.nav-menu {
  text-align: center; }

.nav-up {
  height: 50px; }

.nav-down {
  height: 100px; }

.nav-expand {
  height: 100%; }

.vinh-up {
  display: inline-block;
  color: #d8e4eb;
  float: left;
  font-size: 40px;
  margin-left: 64px; }

.vinh-down {
  display: block;
  float: none;
  margin: 0; }

.vinh-expand {
  display: block;
  width: 100%;
  float: none;
  margin: 0; }

.project-slides {
  display: none; }

.project-slides button {
  padding: 10px;
  font-size: 30px;
  border: none; }

.next {
  float: right;
  margin-top: 50vh;
  margin-right: 64px; }

.prev {
  float: left;
  margin-top: 50vh;
  margin-left: 64px; }

.back {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  width: 300px; }

.back:hover {
  background-color: transparent; }

.project-container img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 50%;
  height: 45vh; }

p {
  display: inline-block;
  width: 100%;
  color: #b6c2c2;
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px; }

.description {
  width: 100%;
  height: 30vh; }

p a {
  font-size: 16px; }

bold {
  color: #00e9ff; }

#resume-container {
  display: none;
  width: 100%;
  margin-top: 5vh; }
  #resume-container img {
    width: 80%; }

.resume-display {
  width: 80%;
  height: 75vh;
  overflow: scroll;
  margin: 0 auto;
  display: block; }

.resume-display::-webkit-scrollbar {
  width: 1em; }

.resume-display::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.resume-display::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.download {
  font-size: 16px; }

#contact-container {
  display: none;
  width: 100%;
  margin-top: 5vh; }
  #contact-container img {
    width: 80%; }

.contact-display {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  position: relative; }
  .contact-display a {
    text-decoration: none;
    display: block; }
    .contact-display a:hover {
      background-color: transparent; }
  .contact-display h3 {
    display: block;
    color: white;
    font-size: 40px; }

.spacer {
  height: 30%;
  width: 100%; }

@media (max-width: 600px) {
  .project-container img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80%;
    height: 45vh; }
  .description {
    display: inline-block;
    width: 80%; }
  p {
    width: 100%; }
  .next {
    position: absolute;
    top: 40%;
    left: 90%;
    margin-right: 5%; }
  .prev {
    position: absolute;
    top: 40%;
    margin-left: 5%; }
  .nav-menu #menu {
    display: block;
    float: none; }
  nav {
    height: 100px; }
  .contact-display h3 {
    font-size: 14px; }
  .resume-display {
    width: 100%;
    height: 75vh;
    overflow: none;
    margin: 0 auto;
    display: block; }
  .nav-down {
    height: 100px; }
  .nav-up {
    height: 100px; }
  .vinh-up {
    display: block;
    float: none;
    margin: 0; }
  .vinh-down {
    display: block;
    float: none;
    margin: 0; } }

@media (min-width: 601px) {
  .project-container img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50%;
    height: 45vh; }
  p {
    width: 50%; }
  .next {
    float: right;
    margin-top: 50vh;
    margin-right: 64px; }
  .prev {
    float: left;
    margin-top: 50vh;
    margin-left: 64px; }
  .nav-menu #menu {
    display: inline-block;
    float: right; }
  nav {
    height: 50px; }
  .contact-display h3 {
    font-size: 40px; }
  .resume-display {
    width: 80%;
    height: 75vh;
    overflow: scroll;
    margin: 0 auto;
    display: block; }
  .nav-down {
    height: 50px; }
  .nav-up {
    height: 50px; }
  .vinh-up {
    float: left;
    font-size: 40px;
    margin-left: 64px;
    display: inline-block; }
  .vinh-down {
    float: left;
    font-size: 40px;
    margin-left: 64px;
    display: inline-block; } }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.fa {
  font-size: 40px; }
